.post-recipe-modal {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-right: 220px;
    background-color: rgba(236, 236, 236, 0.971);
    width: 1200px;
    border: solid 1px teal;
    border-radius: 8px;
    box-shadow: 10px 10px 300px teal;
    color: teal;
}

.edit-button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

/* Details Section */

hr {
    border: 2px solid teal;
    width: 80%;
}

#post-recipe-header {
    text-align: center;
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 60px;
    color: teal;
}

.recipe-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details-input-div {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.errors-list {
    color: red;
}

.left-details-div {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
}

.rigth-details-div {
    display: flex;
    width: 100%;
}

#title-input {
    width: 325px;
    height: 18px;
    margin: 5px;
    margin-left: 6px;
    border-radius: 8px;
    border: solid 1px grey;
}

#recipe-type-select {
    width: 80px;
    height: 20px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px grey;
}

#preview-image-input {
    margin: 5px;
    width: 307px;
    height: 18px;
    border-radius: 8px;
    border: solid 1px grey;
}

#time-input {
    width: 122px;
    height: 18px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px grey;
}

#chef-note-label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

#chef-note-input {
    align-self: center;
    height: 100px;
    width: 520px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px grey;
}

/* Ingredients Section */

.ingredients-div {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ingredient-list-div {
    margin: 20px;
}

.ingredient-card {
    display: flex;
}

#quantity-input {
    width: 30px;
    border-radius: 8px;
    border: solid 1px grey;
}

#unit-select {
    border-radius: 8px;
    border: solid 1px grey;
}

.ingredient-input {
    width: 200px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px grey;
}

#add-ingredient-submit {
    background-color: rgba(80, 200, 120, .7);
    border: solid 1px grey;
    border-radius: 8px;
}

/* Instruction Section */

.instructions-div {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.instruction-list-div {
    margin: 20px;
}

#add-step-label {
    display: flex;
    flex-direction: column;
}

#add-step-input {
    align-self: center;
    height: 80px;
    width: 520px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px grey;
}

#add-instruction-submit {
    background-color: rgba(80, 200, 120, .7);
    border: solid 1px grey;
    border-radius: 8px;
}

#recipe-submit-button {
    margin: 15px;
    align-self: center;
    background-color: rgba(80, 200, 120, .7);
    border: solid 1px grey;
    border-radius: 8px;
    width: 150px;
    margin-bottom: 50px;
}


#finish-recipe-button {
    margin: 15px;
    align-self: center;
    background-color: rgba(80, 200, 120, .7);
    border: solid 1px grey;
    border-radius: 8px;
    width: 150px;
    margin-bottom: 50px;
}
