.Recipe-detail-page {
    width: 1200px;
    background-color: rgba(236, 236, 236, 0.971);
    border: solid 1px teal;
    border-radius: 8px;
    box-shadow: 10px 10px 300px teal;
    display: flex;
    flex-direction: column;
}

.recipe-info-div {
    display: flex;
    flex-direction: column;
}

#details-preview-image {
    width: 1100px;
    height: 620px;
    border: solid 2px #FFD700;
    align-self: center;
    margin: 35px;
}

#recipe-details-title {
    align-self: center;
    font-size: 45px;
    margin-bottom: 5px;
}



.recipe-details-type-time {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#recipe-details-type {
    font-weight: lighter;
    margin: 5px;
}

#recipe-details-time {
    font-weight: lighter;
    margin: 5px;
}

#recipe-details-likes-count {
    font-weight: lighter;
    margin: 5px;
}

.details-like-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 5px;
}

.edit-delete-buttons {
    align-self: flex-end;
    margin-right: 50px;
}

.delete-button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.edit-button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

#edit-button-edit-recipe {
    margin-right: 10px;
}

.comment-button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.delete-button:hover,
.edit-button:hover,
.comment-button:hover {
    box-shadow: 1px 1px 3px 3px black;
    background-color: black;
    border-radius: 5px;
    color: white;
}



.notes-ingredients-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}



#recipe-details-chef-notes-title {
    align-self: center;
    text-decoration: underline;
}

#recipe-details-chef-notes {
    line-height: 30px;
}



#recipe-details-ingredients-title {
    margin-top: 40px;
    margin-left: 70px;
    text-decoration: underline;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1100px;
    height: 1fr;
}

.ingredients-lines {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}



#recipe-details-instructions-title {
    margin-top: 40px;
    margin-left: 70px;
    text-decoration: underline;
    height: 1fr;
}

.instructions-lines {
    margin-left: 50px;
    margin-right: 50px;
}


.details-comments-div {
    margin-top: 70px;
}

.details-comments-button {
    margin: 30px;
    margin-left: 50px;
}

.comment-card {
    display: flex;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
}

.comment-card-image {
    margin-left: 50px;
    border-radius: 10px;
}

.comment-card-user-tile {
    display: flex;
    font-weight: bolder;
}
.comment-card-user-tile-image {
    border-radius: 100%;
    margin-right: 10px;
}
